{% extends "base.html" %}
{% load staticfiles %}

{% block body%}
<div class="col-md-3">
    <center>
        <form name='myForm' method="get">
            <h3> Stocks </h3>
            <input class="form-control" type="text" name="stock" value="{{ stock }}" />
            <input class="form-control" type="submit" value="Submit" />
            
            <br /><br />
            <hr>
        
            <h3> History Types </h3>
            {% if his == "a" %}
                <input type="radio" name="his" value="a"  checked="checked" onclick="document.myForm.submit();" />  HistoryA<br />
            {% else %}
                <input type="radio" name="his" value="a" onclick="document.myForm.submit();" />  HistoryA<br />
            {% endif %}
            
            {% if his == "b" %}
                <input type="radio" name="his" value="b"  checked="checked" onclick="document.myForm.submit();" />  HistoryB<br />
            {% else %}
                <input type="radio" name="his" value="b" onclick="document.myForm.submit();" />  HistoryB<br />
            {% endif %}
            
            {% if his == "c" %}
                <input type="radio" name="his" value="c"  checked="checked" onclick="document.myForm.submit();"/>  HistoryC<br />
            {% else %}
                <input type="radio" name="his" value="c" onclick="document.myForm.submit();"/>  HistoryC<br />
            {% endif %}
            
            <br />
            <hr>

            <h3> Axis </h3>
            <select class="form-control" name="axis" onchange="document.myForm.submit();" >
                {% if ax == "a" %}
                    <option axis="a" value="a" selected>default</option>
                {% else %}
                    <option axis="a" value="a" >default</option>
                {% endif %}
                
                {% if ax == "b" %}
                    <option axis="b" value="b" selected>diffrent</option>
                {% else %}
                    <option axis="b" value="b" >diffrent</option>
                {% endif %}
                
                {% if ax == "c" %}
                    <option axis="c" value="c" selected>another one</option>
                {% else %}
                    <option axis="c" value="c" >another one</option>
                {% endif %}
                
                {% if ax == "d" %}
                    <option axis="d" value="d" selected>something extra</option>
                {% else %}
                    <option axis="d" value="d">something extra</option>
                {% endif %}
            </select>
        </form>
    </center>
</div>

<div class="col-md-7 ol-md-offset-2">
    <script src="{% static 'js/d3.js'%}"> </script>
            
    <script>
        var margin = {top: 20, right: 20, bottom: 30, left: 50},
            width = 700 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var parseDate = d3.time.format("%d-%b-%Y").parse;
        
        var parseDate2 = d3.time.format("%Y-%m-%d").parse;

        var x = d3.time.scale()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");

        var line = d3.svg.line()
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.price); });

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
           
          var data = {{ derData }};
          
          data.forEach(function(d) {
            d.date = parseDate2(d.date);
            d.price = +d.price;
          });

          x.domain(d3.extent(data, function(d) { return d.date; }));
          y.domain(d3.extent(data, function(d) { return d.price; }));

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("{{ axisName }}")       
              .style("stroke-width",0.5)
              .style("stroke", "black");                         

          svg.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", line)
              .style("fill-opacity", 0)
              .style("stroke-width",1)
              .style("stroke", "blue");

          d3.tsv("{% static file%}" , function(boxes) {
                boxes.forEach(function(d) {
              var varx = x(parseDate(d.start));
              if (varx < 0) varx = 0;
              if (varx > width) varx = width;
              
              var varx2 = x(parseDate(d.end))
              if (varx2 < 0) varx2 = 0;
              if (varx2 > width) varx2 = width;
              
              var rectangle = svg.append("rect")
                .attr("x", varx)
                .attr("y", 0)
                .attr("width", varx2 -varx)
                .attr("height", height)
                .style("fill-opacity", 0.2)
                .style("stroke-width",1)
                .style("stroke", "black");
                                            
              });
          });
        

    </script>
</div>
{% endblock %}
