<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">	
        <link rel="stylesheet" href="{% static 'css/jquery-mobile-1_3_2-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <title>Going 65 in a 60 Zone</title>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Going 65 in a <img src="{% static 'images/logo.png' %}" width=25 /> Zone</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="stock" placeholder="Search">
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body%}
        {% endblock %} 

    </body>
</html>