{% extends "base.html" %}
{% load staticfiles %}

{% block body%}
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
                <center><h1> Going 65 in a <img src="{% static 'images/logo.png' %}" width=60 /> zone </h1></center>
        </div> 
    </div>
    
    <br/><br/>
    
    <div class="col-md-5 col-md-offset-1">
        <br /><br /><br /><br /><br /><br />
        
        <div class="well">
            <center>
                <h1>Search the Data!!</h1>
                <p>For preset data visualisations, please click below:</p>
                <p><a href="/chart/zoomcircles/uk"><button class="btn btn-primary">Largest US/UK Publicly Traded Companies</button></a></p>
                <p><a href="/chart/history"><button class="btn btn-primary">Stock Prices vs War Outbreaks</button></a></p>
                <p><a href="/sounds"><button class="btn btn-primary">Sonification of BP Stock Values</button></a></p>
            </center>
        </div>
        
        <div class="col-md-5 col-md-offset-1">
            <script src="{% static 'js/d3.js'%}"> </script>
            <script src="{% static 'js/rainbow-worm.js'%}"> </script>
        </div>
    </div>
{% endblock %}
